.main-home-box{
  @include rem("margin-bottom", 20);
  @include rem("margin-top", -4);
  @extend %content-susy;
}
%textcenter{
  text-align: center;
}
.main-home-box{
  @extend %clearfix;
}
%paddinghome-box{
  @include rem("padding", 5, 10);
}
.login-box{
  @include rem("padding", 10, 0);
  h2{
    //color: #fff;
    @include rem("font-size", 17);
    @include rem("margin", 0,0,10);
    padding: 0;
    @extend %latobold;
  }
  input{
    &[type="text"], &[type="password"]{
      //background-color: #fff;
      border: none;
      color: #999;
      @include rem("font-size", 13);
      @include rem("height", 30);
      @include rem("padding", 5);
      width: 100%;
      &:focus{
        outline: none;
      }
    }
  }
  .inner-form{

  }
  .login-form{
    > div{
      @include rem("margin-bottom", 10);
    }
  }
}
.box-login{
  background-color: $light-hover;
  border-top: 11px solid #e4aa38;
  @extend %paddinghome-box;
  .login-box{
    h2{
      color: #fff;
    }
    input{
      &[type="text"], &[type="password"]{
        background-color: #fff;
        //border: none;
        //color: #999;
        //@include rem("font-size", 13);
        //@include rem("height", 30);
        //@include rem("padding", 5);
        //width: 100%;
        &:focus{
          outline: none;
        }
      }
    }
    a{
      border-right: 1px solid #fff;
      color:#fff;
      display: inline-block;
      @include rem("font-size", 13);
      @include rem("margin-right", 10);
      @include rem("padding-right", 10);
      &:last-child{
        border-right: none;
        margin-right: 0;
        padding-right: 0;
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
  input[type="submit"]{
    @extend %btn-submit;
  }
  .footer-form{
    @extend %textcenter;
  }
  .recover{
    @extend %textcenter;
  }
}
.form-program{
  color:#fff;
  @include rem("margin-bottom", 20);
  @include rem("padding-bottom", 10);
  ul{
    margin: 0;
    @include rem("margin-bottom", 10);
    padding: 0;
    @extend %clearfix;
  }
  input[type="submit"]{
    @extend %btn-submit;
  }
  li{
    @include rem("margin-bottom", 10);
  }
  header{
    @include rem("padding", 10, 0);
    h2{
      @extend %latobold;
      @include rem("font-size", 17);
      @include rem("margin", 0);
    }
    p{
      @extend %latolight;
      @include rem("font-size", 15);
      @include rem("margin", 0, 0, 10);
    }
  }
  .picker{
    background-color: #fff;
    @include rem("font-size", 14);
    &:after{
      @include arrow("down", #a2a9c8, 6);
      content: "";
      position: absolute;
      right: 3%;
      top: 45%;
    }
  }
  input[type="text"]{
    @extend %field;
  }
  input[type="password"]{
    @extend %field;
  }
  .form-options{
    ul{}
    li{}
  }
  .form-code{
    //@include rem("padding-top", 10);
    h4{
      @extend %latolight;
      @include rem("font-size", 15);
      @include rem("margin", 0, 0, 20);
    }
    input[type="submit"]{
      @extend %btn-submit;
    }
  }
}
.box-programs{
  background-color: #0c1464;
  border-top: 11px solid #8f1339;
  @extend %paddinghome-box;
}
@include susy-media((
  orientation: landscape
)){
  .box-user{
    .box-search{
      @include span(4);
    }
    .box-profile{
      @include span(4);
    }
    .box-lang{
      @include span(last 4);
    }
  }
  .form-program{
    .form-options{
      li{
        @include span(4);
        &:last-child{
          margin-right: 0;
        }
      }
    }
    .form-code{
      li{
        @include span(6);
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
@include susy-media((
  min-width: $small-range,
  //orientation: landscape,
)) {
  .main-home-box{
    .box-login{
      .login-box{
        @include push(2 of 10);
        position: relative;
        &:before{
          color: $white;
          content: $icon-hand;
          @include rem("font-size", 90);
          font-family: 'icetex-icon';
          left: -30.40816%;
          position: absolute;
          transform: rotate(36deg);
          @include rem("top", 38);
        }
        h2{
          @include rem("font-size", 25);
        }
        input{
          &[type="text"], &[type="password"]{
            //background-color: #fff;
            //border: none;
            //color: #999;
            //@include rem("font-size", 13);
            //@include rem("height", 30);
            //@include rem("padding", 5);
            //width: 100%;
            @include rem("height", 40);
            @include rem("font-size", 17);
          }
        }
      }
      input[type="submit"]{
        //@extend %btn-submit;
        @include rem("font-size", 17);
        //@include rem("height", 20);
      }
    }
  }
  .form-program {
    header {
      p{
        @include rem("font-size", 21);
      }
      h2{
        @include rem("font-size", 27);
      }
      h4{
        @include rem("font-size", 21);
      }
    }

  }
  .form-program input[type="submit"], .form-program .form-code input[type="submit"]{
    //@extend %btn-submit;
    @include rem("font-size", 17);
    //@include rem("height", 20);
  }
  .picker{
    @include rem("font-size", 16);
    overflow: hidden;
    select{
      @include rem("height", 40);
    }
  }
  .form-program input[type="text"], .form-program input[type="password"]{
    @include rem("font-size", 17);
    @include rem("padding", 8, 5);
  }
}
@include susy-media((
  min-width: $medium-range)) {
  .pref-footer, .box-login, .box-programs{
    @include rem("padding", 20, 25);
  }
}
@include susy-media((
  min-width: $medium-range,
  orientation: landscape)) {
  .main-home-box {
    display: flex;
    //.box-login,
    //.box-programs{
    //  flex: 1;
    //}
    .box-login {
      .login-box {
        margin-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }
}
@include susy-media((
  min-width: $medium-range,
  orientation: portrait)) {
  .main-home-box {
    display: flex;
    //.box-login,
    //.box-programs{
    //  flex: 1;
    //}
    .box-login {
      .login-box {
        margin-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }
}
@include susy-media((
  min-width: $max-iphone6)) {
  .main-home-box {
    display: flex;
    //.box-login,
    //.box-programs{
    //  flex: 1;
    //}
    .box-login {
      .login-box {
        margin-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }
}


@include susy-media((
  min-width: $large-range)) {
  body{
    background-color: #ffc520;
  }
  .main-home-box {
    display: flex;
    //.box-login,
    //.box-programs{
    //  flex: 1;
    //}
    .box-login {
      .login-box {
        @include push(3 of 12);
        //position: relative;
        &:before{
          color: $white;
          content: $icon-hand;
          display: inherit;
          @include rem("font-size", 90);
          font-family: 'icetex-icon';
          left: -40.40816%;
          position: absolute;
          transform: rotate(36deg);
          @include rem("top", 38);
        }
      }
    }
  }
}
