.wall--profile{
  @extend %clearfix;
  @include rem("margin-top", -3);
  ul{
    margin: 0;
    padding: 0;
    @extend %clearfix;
  }
  li{
    a{
      color:#fff;
      display: block;
      @extend %latobold;
      @include rem("font-size", 16);
      @include rem("padding", 30, 20, 30, 80); //30px 20px 30px 80px
      position: relative;
      text-decoration: none;
      [class^="icon-"], [class*=" icon-"]{
        @include rem("left", 15);
        position: absolute;
      }
    }
    &.student{
      a{
        background-color: $student;
      }

    }
    &.foreign{
      a{
        background-color: $foreign;
      }

    }
    &.institutions{
      a{
        background-color: $institutions;
      }
    }
    &.funds{
      a{
        background-color: $funds;
      }
    }
    &.supplier{
      a{
        background-color: $supplier;
      }
    }
    .icon-cap{
      @include rem("font-size", 35);
    }
    .icon-world{
      @include rem("font-size", 47);
    }
    .icon-book{
      @include rem("font-size", 47);
    }
    .icon-hands{
      @include rem("font-size", 47);
    }
    .icon-comunity{
      @include rem("font-size", 47);
    }
  }
}
@include susy-media((
  orientation: landscape
)){
  .wall--profile{

    @include rem("margin-top", -5);
    li{
      a{
        color:#fff;
        display: block;

        @include rem("font-size", 20);
        @include rem("padding", 40, 90, 40, 110);
      }
      .icon-cap{
        @include rem("font-size", 50);
      }
      .icon-world{
        @include rem("font-size", 66);
      }
      .icon-book{
        @include rem("font-size", 66);
      }
      .icon-hands{
        @include rem("font-size", 66);
      }
      .icon-comunity{
        @include rem("font-size", 66);
      }
    }
  }
}
@include susy-media((
  min-device-width: $medium-range,
  max-device-width: $max-iphone6,
  orientation: landscape)) {
  .wall--profile{
    @include rem("margin-top", -5);
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      a{
        color:#fff;
        display: block;

        @include rem("font-size", 20);
        @include rem("padding", 50, 110, 50, 210);
        [class^="icon-"], [class*=" icon-"]{
          @include rem("left", 110);
          position: absolute;
        }
      }
      .icon-cap{
        @include rem("font-size", 50);
      }
      .icon-world{
        @include rem("font-size", 66);
      }
      .icon-book{
        @include rem("font-size", 66);
      }
      .icon-hands{
        @include rem("font-size", 66);
      }
      .icon-comunity{
        @include rem("font-size", 66);
      }
    }
  }
}
