.box-user
  .box-search
    label.hide(for="buscar") Buscar
    input#buscar(type="search")
    button.btn.btn-submit
  .box-profile
    ul.profile
      li
        a Perfil / Profile
        ul
          li
            a Estudiante
          li
            a Ciudadano
          li
            a Extrangero
  .box-lang
    ul.language
      li
        a Idioma / Lenguaje
        ul
          li
            a Ingles
          li
            a Español
