footer.global-footer
  .inner
    p.text Dirección: Carrera. 3 No. 18-32
    p.text Horario de atención: Lunes a viernes de 8:00 a.m. a 4:30 p.m.
    p.text Notificaciones Judiciales: <a href="mailto:notificaciones@icetex.gov.co">notificaciones@icetex.gov.co</a>
    p.text Líneas de atención al usuario del ICETEX Bogotá: <a href="tel:+571417-3535">(57-1) 417-3535</a> | A nivel nacional: <a href="tel:019003313777">01900-3313777</a> (con costo)
  .inner
    p <a href="">Contacto virtual</a> | <a href="">Red de oficinas </a> | <a href="">Estructura organizacional</a> <a href="">Política de tratamiento de datos</a> |<a href="">Preguntas Frecuentes</a> | <a href="">Glosario </a>
  .inner
    p <a href="">Términos y condiciones del sitio</a> | <a href="">Mapa del sitio </a> | <a href="">Funcionarios </a> | <a href="">Casas de cobranza</a> | <a href="">Defensor del consumidor financiero</a> | <a href="">Defensor del consumidor</a>
