header.gate
  .inner.content
    .lang-sel
      ul
        li
          a Idioma / Lenguaje
          ul
            li
              a Español
            li
              a Ingles

    .row
      h1.hide-text Icetex
      a.brand(href="index.html")
        img(src="_assets/images/misc/log-icetex.svg" alt="Icetex")
      .lang-sel-mobile
        select
          option Ingles
          option Español

      a.log-col(href="#")
        img(src="_assets/images/misc/log-col.jpg" alt="Todos por un nuevo país")

