header.main-header
  .inner.content
    .lang-sel.medium-up
      ul
        li
          a Idioma / Lenguaje
          ul
            li
              a Español
            li
              a Ingles
    .row
      h1.hide-text Icetex
      a.brand(href="index.html")
        img(src="_assets/images/misc/log-icetex.svg" alt="Icetex")
      a.log-col(href="#")
        img(src="_assets/images/misc/log-col.jpg" alt="Todos por un nuevo país")
.content-nav.medium-up
  include _main-nav
.select-profile.show-mobile
  include _box-user

