.hero.js--hero
  .cycle-slideshow(
  data-cycle-fx='fade'
  data-cycle-timeout='0'
  data-cycle-swipe='true'
  data-cycle-swipe-fx=scrollHorz
  data-cycle-slides='.hero-content'
  )
    // prev/next links
    .cycle-prev
    .cycle-next
    .hero-content
      +hero-nocaption('hero2', 'This picture loads on non-supporting browsers.')
    .hero-content
      +hero-nocaption('hero2', 'This picture loads on non-supporting browsers.')
    .hero-content
      +hero-nocaption('hero2', 'This picture loads on non-supporting browsers.')
    .hero-content
      +hero-nocaption('hero2', 'This picture loads on non-supporting browsers.')
  include _social-links
