.login-box
  .inner-form
    h2 Oficina virtual
    .login-form
      div
        label.hide(for="user") usuario
        input#user(type="text" placeholder="usuario")
      div
        label.hide(for="password") contraseña
        input#password(type="password" placeholder="contraseña")
      .footer-form
        input(type="submit" value="ingresar")
    .recover
      a Registrate aquí
      a ¿Olvidaste tu contraseña?
