.pref-footer
  .icetex-links
    ul
      li
        a.icon.icon--icetex
          span Soy Icetex
      li
        a.icon.icon--kids
          span Kinder
      li
        a.icon.icon--news
          span Noticias
      li
        a.icon.icon--courses
          span Cursos
      li
        a.icon.icon--forums
          span Foros
  .state-links
    ul
      li
        a(href="#")
          img(src="http://dummyimage.com/140x50/000000/fff" alt="fpo")
      li
        a(href="#")
          img(src="http://dummyimage.com/140x50/000000/fff" alt="fpo")
      li
        a(href="#")
          img(src="http://dummyimage.com/140x50/000000/fff" alt="fpo")
      li
        a(href="#")
          img(src="http://dummyimage.com/140x50/000000/fff" alt="fpo")
      li
        a(href="#")
          img(src="http://dummyimage.com/140x50/000000/fff" alt="fpo")
      li
        a(href="#")
          img(src="http://dummyimage.com/140x50/000000/fff" alt="fpo")
      li
        a(href="#")
          img(src="http://dummyimage.com/140x50/000000/fff" alt="fpo")
      li
        a(href="#")
          img(src="http://dummyimage.com/140x50/000000/fff" alt="fpo")
