.form-program
  header
    p Encuentra aquí tu mejor opción en
    h2 Programas Académicos, Créditos y Becas.
  .form-options
    ul
      li
        .picker
          label.hide(for="level") Nivel de formación
          select#level
            option Nivel de formación
      li
        .picker
          label.hide(for="location") Deseo estudiar en
          select#location
            option Deseo estudiar en
      li
        .picker
          label.hide(for="area") Área de Interés
          select#area
            option Área de Interés
  .form-code
    h4 Encuentra tu convocatoria por código o entidad
    ul
      li
        label.hide(for="code") Código del crédito
        input#code(type="text" placeholder="Código del crédito")
      li
        label.hide(for="fondo") Entidad del fondo o alianza
        input#fondo(type="text" placeholder="Entidad del fondo o alianza")
    input(type="submit" value="Buscar")
