extends ./layouts/_default
block vars
  - var title='Home estudiantes'
block content
  include ./modules/_home-slider
  .main-home-box
    .box-login
      include ./modules/_login
    .box-programs
      include ./modules/_search-students

