extends layouts/_wall
include ./modules/_mixins
block vars
  - var title='Landing'
block content
  .hero-intro
    +internal-hero('hero', 'This picture loads on non-supporting browsers.', 'Bienvenido, ¡Tenemos un sitio especial para todos!', 'Selecciona tu perfil')

  .wall--profile
    .content
      ul
        li.student
          a(href="home-students.html", title="Soy estudiante colombiano, beneficiario o padre de familia")
            span.icon-cap
            | Soy estudiante colombiano, beneficiario o padre de familia
        li.foreign
          a(href="home-foreign.html", title="Soy un extrajero interesado en Programas Académicos  en Colombia")
            span.icon-world
            | Soy un extrajero interesado en Programas Académicos  en Colombia
        li.institutions
          a(href="home-institutions.html", title="Soy una Institucion de Educación Superior")
            span.icon-book
            | Soy una Institucion de Educación Superior
        li.funds
          a(href="home-funds.html", title="Soy un Constituyente de fondos y/o alianzas")
            span.icon-hands
            | Soy un Constituyente de fondos y/o alianzas
        li.supplier
          a(href="home-supplier.html", title="Soy contratista u otro ciudadano")
            span.icon-comunity
            | Soy contratista u otro ciudadano
