extends ./layouts/_default
block vars
  - var title='Credito access'
block content
  .hero.hero--inner
    +hero-nocaption('hero3', 'This picture loads on non-supporting browsers.')
    include modules/_social-links
  .wrap-container
    .pathway
      a Home/&nbsp;
      a Productos/&nbsp;
      a Creditos/&nbsp;
      | Crédito ACCES
    .local-nav.tab--nav
       nav.content-nav
        ul
          li
            a Características
          li
            a Requisitos del estudiante
          li
            a Calendarios
          li
            a Pago del crédito
          li
            a Tasa
          li
            a Instructivo de legalización
    .inner-content.tow-cols
      .main-col
        article.info-contain
          h2 Características generales
          p El crédito Acceso con Calidad a la <strong>Educación Superior (ACCES)</strong>, es una línea de crédito a largo plazo para financiar programas técnicos profesionales, tecnológicos o de ciclo complementario de escuelas normales superiores o universitarios en la que se le presta a un estudiante para que pague un nuevo profesional.
        ul.product-detail
          li
            a
              span.icon-opcion
              span.txt Simular
          li
            a
              span.icon-copy
              span.txt Solicitar
          li
            a
              span.icon-paste
              span.txt Comparar
          li
            a
              span.icon-download
              span.txt Descargar términos
      aside.right-rail
        h4 Busquedas relacionadas
        .cycle-slideshow(data-cycle-fx='scrollHorz', data-cycle-timeout='7000', data-cycle-slides='.related-searches')
          .cycle-pager
          each i in new Array(2)
            ul.related-searches
              each i in new Array(5)
                li
                  a Crédito Acces

