//Colors
$white: #fff;
$student: #4c80c0;
$foreign: #3353a5;
$institutions: #181e85;
$funds:#161b62;
$supplier: #11123d;
$greyfoot:#4e4e4e;
$brand-color: #004487;
$altern-brand:#072d4c;
$text-color: #666;
$altern-hover: #004486;
$light-hover: #1b81c5;
//Fonts
$icon-font: 'icetex-icon';
%icon-font{
  font-family: $icon-font;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
