%latolight{
  font-family: $title-altern;
  font-weight: 300;
}
%latoregular{
  font-family: $title-altern;
  font-weight: 400;
}
%latobold{
  font-family: $title-altern;
  font-weight: 700;
}
.icon{
  @extend %icon-font;
}
strong{
  @extend %latobold;
}
