$icon-cap: "\e617";
$icon-world: "\e600";
$icon-book: "\e601";
$icon-hands: "\e602";
$icon-comunity: "\e603";
$icon-down: "\e604";
$icon-ok: "\e605";
$icon-search: "\e606";
$icon-iam: "\e607";
$icon-kids: "\e608";
$icon-news: "\e609";
$icon-courses: "\e60a";
$icon-forums: "\e60b";
$icon-opcion: "\e60c";
$icon-copy: "\e60d";
$icon-paste: "\e60e";
$icon-download: "\e60f";
$icon-download2: "\e610";
$icon-edit: "\e611";
$icon-account: "\e612";
$icon-add: "\e613";
$icon-add2: "\e614";
$icon-hand: "\e615";
$icon-filter: "\e616";
$icon-facebook: "\ea8e";
$icon-twitter: "\ea93";
$icon-youtube: "\ea9a";
$icon-linkedin: "\eac9";



[class^="icon-"], [class*=" icon-"] {
  font-family: 'icetex-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cap:before {
  content: "\e617";
}
.icon-world:before {
  content: "\e600";
}
.icon-book:before {
  content: "\e601";
}
.icon-hands:before {
  content: "\e602";
}
.icon-comunity:before {
  content: "\e603";
}
.icon-down:before {
  content: "\e604";
}
.icon-ok:before {
  content: "\e605";
}
.icon-search:before {
  content: "\e606";
}
.icon-iam:before {
  content: "\e607";
}
.icon-kids:before {
  content: "\e608";
}
.icon-news:before {
  content: "\e609";
}
.icon-courses:before {
  content: "\e60a";
}
.icon-forums:before {
  content: "\e60b";
}
.icon-opcion:before {
  content: "\e60c";
}
.icon-copy:before {
  content: "\e60d";
}
.icon-paste:before {
  content: "\e60e";
}
.icon-download:before {
  content: "\e60f";
}
.icon-download2:before {
  content: "\e610";
}
.icon-edit:before {
  content: "\e611";
}
.icon-account:before {
  content: "\e612";
}
.icon-add:before {
  content: "\e613";
}
.icon-add2:before {
  content: "\e614";
}
.icon-hand:before {
  content: "\e615";
}
.icon-filter:before {
  content: "\e616";
}
.icon-facebook:before {
  content: "\ea8e";
}
.icon-twitter:before {
  content: "\ea93";
}
.icon-youtube:before {
  content: "\ea9a";
}
.icon-linkedin:before {
  content: "\eac9";
}
