.global-footer{
  background-color: $greyfoot;
  color: $white;
  @include rem("font-size", 11);
  text-align: center;
  @extend %padding-lateral;
  @include rem("padding-bottom", 20);
  @include rem("padding-top", 20);
  .text{
    margin: 0;
  }
  a{
    color: $white;
    text-decoration: none;
  }
}
@include susy-media((
  orientation: landscape
)) {
  .global-footer{
    @include rem("font-size", 12);

  }
}
@include susy-media((
  min-width: $medium-range,
  max-device-width: $max-iphone6,
  orientation: landscape
)) {
  .global-footer{
    @include rem("font-size", 14);

  }
}
.pref-footer{
  @include rem("padding-top", 30);
  @extend %paddinghome-box;
  ul{
    @extend %clearfix;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline-block;
  }
  .icetex-links{
    @include rem("margin-bottom", 20);
    ul{
      text-align: center;
    }
    li{
      //@extend %hide-text;
      @include rem("margin-right", 10);
      border-right: 1px solid #acacac;
      @include rem("padding-right", 10);
      &:last-child{
        border-right: none;
      }
      .icon{
        @extend %latobold;
        @include rem("font-size", 22);
        span{
          display: inline-block;
          position: relative;
          @include rem("top", -20);
        }
        &:before{
          @extend %icon-font;
          @include rem("font-size", 65);
          //content: "\e601"
        }
        &.icon--icetex{
          color:#0d188a;
          span{
            @include rem("margin-left", 10);
            //@include rem("top", -20);
          }
          &:before{
            content: $icon-iam;
          }
        }
        &.icon--kids{
          color:#f0853c;
          span{
            @include rem("margin-left", 10);
          }
          &:before{
            content: $icon-kids;
          }
        }
        &.icon--news{
          color: $light-hover;
          &:before{
            content: $icon-news;
          }
        }
        &.icon--courses{
          color: #e4aa38;
          &:before{
            content: $icon-courses;
          }
        }
        &.icon--forums{
          color: #8f1339;
          &:before{
            content: $icon-forums;
          }
        }
      }
    }

  }
  .state-links{
    @include rem("margin-bottom", 20);
    text-align: center;
  }
}
