.picker{
  position: relative;
  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    color:#999;
    display: block;
    @include rem("height", 34);
    min-width: 100%;
    @include rem("padding", 6,45,6,15);
    outline: none;
    //width: 135%;
  }

}
%field{
  background-color:#fff;
  @include box-sizing(border-box);
  @include rem("font-size", 14);
  @include rem("padding", 6,45,6, 15);
  width: 100%;
}
%btn-submit{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  @include rem("font-size", 12);
  @include rem("padding", 9, 0);
  width: 100%;
}
