.main-header{
  @include rem("min-height", 55);
}
.select-profile{
  background-color: $brand-color;
  @include rem("padding", 12, 10, 5);
}
%color-box{
  background-color: #e6e6e6;
  @include border-radius(5px);
  @include rem("height", 30);
  @include rem("font-size", 13);
  @include rem("padding", 4, 5);
  position: relative;
}
%boxusermb{
  @include rem("margin-bottom", 10);
}
%linkbox{
  color:$text-color;
  text-decoration: none;

}
.box-user{
  @extend %clearfix;
  a{
    @extend %linkbox;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      &:hover{
        > ul{
          visibility: visible;
        }
      }
    }
    ul{
      height: 0;
      position: absolute;
      visibility: hidden;
    }
  }
  .box-search{
    position: relative;
    @extend %boxusermb;
    input[type="search"]{

      @extend %color-box;
      border: none;
      @include box-sizing(border-box);
      color:$brand-color;

      width: 100%;
      &:focus{
        outline: none;
      }
    }
    .btn-submit{
      position: absolute;
      top: -1px;
      right: 0;
    }
  }
  .btn-submit{
    border: none;
    background-color: $altern-brand;
    @include border-right-radius(5px);
    @include rem("font-size", 21);
    &:before{
      color:#fff;
      content: "\e606";
      font-family: 'icetex-icon';
    }
  }
  .box-profile{
    @extend %color-box;
    @extend %boxusermb;
    ul{
      position: relative;
      @include rem("top", 3);
      width: 100%;
      z-index: 2;
    }
    &:after{
      background-color: $altern-brand;
      @include border-right-radius(5px);
      color:#fff;
      content: "\e604";
      display: block;
      font-family: 'icetex-icon';
      @include rem("font-size", 18);
      @include rem("height", 30);
      @include rem("padding",6,0,0,7);
      position: absolute;
      right: 0;
      top: 0;
      @include rem("width", 33);
      z-index: 1;

    }
  }
  .box-lang{
    @extend .box-profile;
    z-index: 1;
  }

}
