//HEADER
header{
  @include rem("padding", 10, 10, 0);
  position: relative;
  z-index: 10;
  &.gate{
    background-color: $white;
    @include rem("min-height", 70);
    .lang-sel{
      @extend %hidemobile;
    }
  }
  .brand{
    @include span(6);
    @include rem("max-width", 370);
    position: relative;
    @include rem("top", 8);
  }
  .log-col{
    @include span(3 last);
    @include rem("max-width", 170);
  }
  .lang-sel-mobile{
    background-color:#004487;
    bottom:0;
    @include rem("bottom", -30);
    //@include span(3);
    @include rem("height", 45);
    left: 0;
    overflow: hidden;
    right: 0;
    position: absolute;
    @extend %padding-lateral;
    &:before{
      border-left: 1px solid #668FB7;
      content: "";
      @include rem("height", 40);
      position: absolute;
      @include rem("right", 40);
      @include rem("top", 2);
      z-index: 1;
    }
    &:after{
      content: "";
      @include arrow(down, #fff, 7);
      //@include rem("height", 45);
      //border-left: 1px solid #668FB7;
      @include rem("top", 19);

      position: absolute;
      @include rem("right", 10);
      z-index: 1;
    }
    select{
      appearance: none;
      background: 0 0;
      border: none;
      @extend %latoregular;
      color:#fff;
      @include rem("height", 45);
      outline: none;
      width: 135%;
      z-index: 3;
    }
  }
  .lang-sel{
    a{
      color: $altern-hover;
      @include rem("font-size", 17);

    }
    ul{
      > li{
        position: relative;
        a{
          &:after{
            @extend %icon-font;
            content: $icon-down;
            @include rem("font-size", 10);
            @include rem("left", 15);
            position: relative;
          }
        }
        &:hover{
          ul{
            display: block;
            position: absolute;
          }
        }
      }
      ul{
        display: none;
        a{
          &:after{
            display: none;
          }
        }
      }
    }
  }
}

@include susy-media((
  orientation: landscape
)) {
  //HEADER
  header{
    @include rem("padding", 10, 25, 10);
    &.gate{
      @include rem("min-height", 80);

    }
    .brand{
      @include span(5);
      //@include rem("max-width", 475);
      //position: relative;
      @include rem("top", 15);
    }

  }

}
