
.cycle-slideshow{
  position: relative;
  .hero-content{
    left: 0;
    position: absolute;
    top: 0;
    img{
      display: block;
    }
    &:first-child{
      position: static;
    }
  }
}
.hero{
  position: relative;
  figure{
    margin: 0;
    position: relative;
    padding: 0;
  }
  img{
    display: block;
  }
  &.hero--inner{
    .social-panel{
      right: -15px;
      top: -40px;
      transform: scale(0.5);
    }
  }
}

.hero-intro{
  @include rem("margin-top", 30);
  figure{
    margin: 0;
    position: relative;
    padding: 0;
  }
  figcaption{
    @include rem("bottom", 10);
    @include rem("left", 10);
    position: absolute;

    p.h4{
      color: #fff;
      @extend %latoregular;
      @include rem("font-size", 13);
      margin: 0 0 -10px;
    }
    p.h2{
      color: #fff;
      @extend %latoregular;
      @include rem("font-size",35);
      margin: 0;
    }
  }

}

@include susy-media((
  orientation: landscape
)){
  .hero-intro{
    figcaption{
      @include rem("bottom", 20);
      @include rem("left", 20);
      p.h4{
        @include rem("font-size", 15);
        margin: 0 0 -5px;
      }
      p.h2{
        @include rem("font-size",40);
      }
    }
  }
}
@include susy-media((
  orientation: landscape
)){
  .hero-intro{
    figcaption{
      @include rem("bottom", 20);
      @include rem("left", 20);
      p.h4{
        @include rem("font-size", 15);
        margin: 0 0 -5px;
      }
      p.h2{
        @include rem("font-size",40);
      }
    }
  }
}
@include susy-media((
  min-width: $medium-range)){
  .hero{
    //position: relative;
    figure{
      //margin: 0;
      //position: relative;
      //padding: 0;
    }
    &.hero--inner{
      .social-panel{
        right: -9px;
        top: -20px;
        transform: scale(0.7);
      }
    }
  }
}
@include susy-media((
  min-width: $medium-range,
  max-device-width: $max-iphone6,
  orientation: landscape)) {
  .hero-intro{
    figcaption{
      bottom: inherit;
      top:30%;
      p.h4{
        @include rem("font-size", 20);
        margin: 0 0 -5px;
      }
      p.h2{
        @include rem("font-size",53);
      }
    }
  }

}

@include susy-media((
  min-width: $large-range)) {
  .hero{
    //position: relative;
    figure{
      //margin: 0;
      //position: relative;
      //padding: 0;
    }
    &.hero--inner{
      .social-panel{
        right: -12px;
        top: -40px;
        transform: scale(0.6);
      }
    }
  }
}
@include susy-media((
  min-width: $xlarge-range)) {
  .hero{
    //position: relative;
    figure{
      //margin: 0;
      //position: relative;
      //padding: 0;
    }
    &.hero--inner{
      .social-panel{
        @include rem("right", -6);
        //right: 0;
        top: 0;
        transform: scale(0.8);
      }
    }
  }
}
