%padding-infocontain{
  @include rem("padding", 10, 20, 10, 70);
}
.info-contain{
  @extend %padding-infocontain;
  h2{
    color: $altern-hover;
    @include rem("font-size", 18);
    @include rem("margin", 0);
    @extend %latobold;
    @include rem("margin-bottom", 20);
  }
  p{
    @include rem("font-size", 14);
    @extend %latoregular;
    @include rem("margin", 0);
    @include rem("margin-bottom", 20);
    line-height: 1.2;
  }
}
.product-detail{
  padding: 0;
  @extend %clearfix;
  li{
    padding: 0;
    @include rem("padding", 19, 30, 19, 70);
    a{
      color:$white;
    }
    &:nth-of-type(odd){
      background-color: $altern-hover;
    }
    &:nth-of-type(even){
      background-color: $light-hover;
    }
    [class^="icon-"], [class*=" icon-"]{
      @include rem("font-size", 40);
      @include rem("margin-right", 20);
      vertical-align: middle;
    }
    .txt{
      @include rem("font-size", 18);
      @extend %latobold;
    }
  }
}
.right-rail{
  @extend %hidemobile;
}
@include susy-media((
  min-width: $small-range)) {
  //%padding-infocontain2{
  //  @include rem("padding", 10, 20, 10, 70);
  //}
  .info-contain{
    //@extend %padding-infocontain2;
    h2{
      //color: $altern-hover;
      @include rem("font-size", 25);
      //@include rem("margin", 0);
      //@extend %latobold;
      //@include rem("margin-bottom", 20);
    }
    p{
      @include rem("font-size", 16);
      //@extend %latoregular;
      //@include rem("margin", 0);
      //@include rem("margin-bottom", 20);
      //line-height: 1.2;
    }
  }
  .product-detail{
    //padding: 0;
    li{
      //padding: 0;
      @include rem("padding", 19, 30, 19, 70);
      //a{
      //  color:$white;
      //}
      //&:nth-of-type(odd){
      //  background-color: $altern-hover;
      //}
      //&:nth-of-type(even){
      //  background-color: $light-hover;
      //}
      [class^="icon-"], [class*=" icon-"]{
        @include rem("font-size", 60);
        //@include rem("margin-right", 20);
        //vertical-align: middle;
      }
      .txt{
        @include rem("font-size", 25);
        //position: relative;
        @include rem("top", 5);
        //@extend %latobold;
      }
    }
  }
}
@include susy-media((
  min-width: $medium-range)) {
  .product-detail{
    display: flex;
    li{
      //display: table;
      float: left;
      a{
        display: table;
      }
      @include rem("padding", 15);
      width: 25%;
      [class^="icon-"], [class*=" icon-"]{
        @include rem("font-size", 50);
        @include rem("margin-right", 0);
        display: table-cell;
        //@include rem("margin-right", 10);
        position: relative;
        @include rem("top", 0);
      }
      .txt{
        @include rem("font-size", 18);
        display: table-cell;
        position: relative;
        @include rem("top", 17);
        //@extend %latobold;
      }
      &:nth-of-type(4){
        .txt{
          @include rem("top", 5);
        }
      }
    }
  }
}
