.content-nav{
  //display: inherit !important;
  @extend %clearfix;
  background-color: $altern-hover;
}
.main-nav{
  @extend %clearfix;
  @extend %content-susy;
  > ul{
    @extend %clearfix;
    display: table;
    width: 100%;
    > li{
      border-right: 1px solid #4c749c;
      display: table-cell;
      @include rem("font-size", 20);
      &:last-child{
        border-right: none;
      }
      a{
        display: block;
        //@include rem("font-size", 20);
        @include rem("padding", 6, 0, 10);
        text-align: center;
        @extend %latobold;
      }
    }
    ul{
      display: none;
    }
  }

  a{
    color: $white;
  }
}
@include susy-media((
  min-width: $large-range)) {

}
.local-nav{
  @extend %hidemobile;
}
