.pathway{
  @extend %hidemobile;
  color:$white;
  @include rem("font-size", 18);
  @include rem("margin-top", -25);
  position: relative;
  z-index: 10;
  a{
    color:$white;
  }
}
@include susy-media((
  min-width: $large-range)) {
  .pathway{
    @extend %show-large;
  }
}
