.social-panel{
  background-color: $white;
  @include rem("padding", 20,16,15);
  position: absolute;
  top:5%;
  right: 0;
  z-index: 135;
  @extend %hidemobile;
  a{
    @include border-radius(50%);
    color: $white;
    @include rem("font-size", 17);
    @extend %icon-font;
    @include rem("padding", 5);
    text-decoration: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    border-bottom: 2px solid $altern-hover;
    @include rem("margin-bottom", 15);
    @include rem("padding-bottom", 15);
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    &.fb{
      a{
        background-color: #0066aa;
      }
    }
    &.tw{
      a{
        background-color: #00a5e6;
      }
    }
    &.in{
      a{
        background-color: #007598;
        color: $white;
      }
    }
    &.yt{
      a{
        background-color: #c5181e;
        display: block;
        @include rem("height", 26);
        @include rem("font-size", 9);
        @include rem("width", 26);
        span{
          left: -3px;
          position: relative;
          top: 3px;
        }
      }
    }
  }
}
@include susy-media((
  min-width: $small-range)) {
  .social-panel{
    display: inherit;
  }
}
