doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie7" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8" lang="es"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9" lang="es"> <![endif]-->
<!--[if !IE]> <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie" lang="es">
block vars
head
  meta(charset="utf-8")
  title #{title} -  Icetex Portal
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width")
  link(rel="shortcut icon", href="/favicon.ico")
  link(rel='stylesheet', href='../bower_components/normalize.css/normalize.css')
  link(rel="stylesheet", href="_assets/stylesheets/main.css")
  script(src="_assets/javascripts/plugins/modernizr.js")

body

  include ../modules/_header-intro

  main
    block content

  include ../modules/_footer

  script(src='../bower_components/jquery/dist/jquery.js')
  script(src='../bower_components/jquery.cycle2/index.js')
  script(src='../bower_components/jquery.cycle2.swipe.min/index.js')
  script(src="_assets/javascripts/main.js")
